.about__section{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}
.about__text-block{
    width: 60%;
}
.about__images{
    position: relative;
    width: 40%;
}
#img1{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%) rotate(20deg);
}
#img2{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform:translate(-60%, -5%)rotate(-20deg); 
}
#img3{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -15%) rotate(20deg);
}
.about__text{
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.5em;
}

@media(max-width:600px){
    .about__section{
        flex-direction: column;
        align-items: center;
    }

    .about__section:nth-child(2){
        flex-direction: column-reverse;
    }
    #img1,
    #img2,
    #img3{
        position: relative;
    }
    
}